src/resources/schemas/schema-xml.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cats">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cat" type="xmlCat" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="xmlCat">
        <xs:sequence>
            <xs:element name="id" type="validId"/>
            <xs:element name="name" type="notEmptyString"/>
            <xs:element name="age" type="xs:positiveInteger"/>
            <xs:element name="gender" type="gender"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="validId">
        <xs:restriction base="xs:string">
            <xs:pattern value="(112|643)09(81|56)\d{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="notEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="gender">
        <xs:restriction base="xs:string">
            <xs:enumeration value="male"/>
            <xs:enumeration value="female"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>